<html ng-app="angapp">
<title>NodeWithAngular</title>
<head>
    <title>Integrating AngularJS with NodeJS</title>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script> -->
    <script src="scripts/angular.js" type="text/javascript"></script> <!-- not created yet -->
    <script src="scripts/angapp.js" type="text/javascript"></script> <!-- not created yet -->
</head>
<!-----commemnt---->
<body >
  <center><h1>Node with Angular Js integration</h1></center>
  <p>
    Html file with angular implementation!
  </p>
  <div ng-controller="mainCtrl as mctrl">
    <!-- <ul ng-repeat="item in data">
       <li>Name: {{item.name}}, City: {{item.city}}</li>
    </ul> -->
    <p>{{mctrl.someMessage}}</p>
  </div>
</body>
</html>
